.container {
  max-width: 1128px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-item a img {
  width: 100%;
  height: 100%;
}

.sl-wrapper {
  background-color: #2e2f42cc;
  color: #fff;
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-caption {
  color: #fff;
}
